* {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #fff;
    font-size: 35px;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(251, 199, 127);
}

h1 {
    padding: 10px;
}

.departures {
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    padding: 10px;
}

.departures table {
    background-color: rgb(44, 42, 42);
    text-align: left;
}

th {
    padding: 5px;
}

.departures table div {
    border: solid 4px rgb(24, 23, 23);
    background-color: black;
    min-width: 20px;
    height: 40px;
    float: left;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(90deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

#time {
    width: 160px;
}

#destination {
    width: 700px;
}

#flight {
    width: 205px;
}
#gate {
    width: 135px;
}

.widget-info {
    display: block;
}